<?xml version="1.0" encoding="UTF-8"?>
<web-app  xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee https://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_4_0.xsdd"
	version="4.0" 
	metadata-complete="false">

	<!-- Generic request dispatcher -->
	<servlet>
		<display-name>generic-servlet</display-name>
		<servlet-name>EurinomeServlet</servlet-name>
		<servlet-class>cat.calidos.eurinome.control.EurinomeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>EurinomeServlet</servlet-name>
		<url-pattern>/dyn/*</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>cat.calidos.eurinome.control.EurinomeServletListener</listener-class>
	</listener>

	<filter>
		<filter-name>EurinomeRequestFilter</filter-name>
		<filter-class>cat.calidos.eurinome.control.EurinomeRequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EurinomeRequestFilter</filter-name>
		<url-pattern>/*</url-pattern> 
	</filter-mapping>


</web-app>
